---
import "css/app.css";
import core from "franken-ui/js/core.iife?url";
import icon from "franken-ui/js/icon.iife?url";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link
      rel="preload"
      href="/fonts/geist-font/fonts/GeistVariableVF.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/geist-font/fonts/GeistMonoVariableVF.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="stylesheet" href="/fonts/geist-font/style.css" />

    <script is:inline>
      const htmlElement = document.documentElement;

      if (
        localStorage.getItem("mode") === "dark" ||
        (!("mode" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        htmlElement.classList.add("dark");
      } else {
        htmlElement.classList.remove("dark");
      }

      htmlElement.classList.add(
        localStorage.getItem("theme") || "uk-theme-zinc",
      );
      htmlElement.classList.add(localStorage.getItem("radii") || "uk-radii-md");
      htmlElement.classList.add(
        localStorage.getItem("shadows") || "uk-shadows-sm",
      );
    </script>

    <script is:inline src={core} type="module"></script>
    <script is:inline src={icon} type="module"></script>
  </head>
  <body class="bg-background font-geist-sans text-foreground antialiased">
    <!-- START CODING HERE -->
    <div class="uk-container uk-container-xl mt-40 grid gap-y-8 md:grid-cols-2">
      <div class="space-y-4">
        <h1 class="uk-hero-sm font-bold">Franken UI: Dos</h1>
        <p class="text-lg font-light">Fresh face, familiar pace.</p>
        <div class="flex gap-x-1">
          <a
            class="uk-btn uk-btn-primary"
            href="https://next.franken-ui.dev/docs/introduction"
          >
            Learn
          </a>
          <a
            class="uk-btn uk-btn-default"
            href="https://github.com/sponsors/sveltecult"
            target="_blank"
          >
            <uk-icon icon="heart" cls-custom="mr-2 text-pink-500"></uk-icon>
            Support
          </a>
          <div class="uk-inline">
            <button
              class="uk-btn uk-btn-default uk-btn-icon"
              aria-label="Customize"
            >
              <uk-icon icon="palette"></uk-icon>
            </button>
            <div
              class="uk-card uk-card-body uk-drop w-96"
              data-uk-drop="mode: click; offset: 8"
            >
              <div class="uk-h3">Customize</div>
              <p class="mb-4 mt-1 text-sm text-muted-foreground">
                Customize your Franken UI experience.
              </p>
              <uk-theme-switcher id="theme-switcher">
                <select hidden="">
                  <optgroup label="Theme">
                    <option data-hex="#52525b" value="uk-theme-zinc"
                      >Zinc</option
                    >
                    <option data-hex="#64748b" value="uk-theme-slate"
                      >Slate</option
                    >
                    <option data-hex="#78716c" value="uk-theme-stone"
                      >Stone</option
                    >
                    <option data-hex="#6b7280" value="uk-theme-gray"
                      >Gray</option
                    >
                    <option data-hex="#737373" value="uk-theme-neutral"
                      >Neutral</option
                    >
                    <option data-hex="#dc2626" value="uk-theme-red">Red</option>
                    <option data-hex="#e11d48" value="uk-theme-rose"
                      >Rose</option
                    >
                    <option data-hex="#f97316" value="uk-theme-orange"
                      >Orange</option
                    >
                    <option data-hex="#16a34a" value="uk-theme-green"
                      >Green</option
                    >
                    <option data-hex="#2563eb" value="uk-theme-blue"
                      >Blue</option
                    >
                    <option data-hex="#facc15" value="uk-theme-yellow"
                      >Yellow</option
                    >
                    <option data-hex="#7c3aed" value="uk-theme-violet"
                      >Violet</option
                    >
                  </optgroup>
                  <optgroup label="Radii">
                    <option value="uk-radii-none">None</option>
                    <option value="uk-radii-sm">Small</option>
                    <option value="uk-radii-md">Medium</option>
                    <option value="uk-radii-lg">Large</option>
                  </optgroup>
                  <optgroup label="Shadows">
                    <option value="uk-shadows-none">None</option>
                    <option value="uk-shadows-sm">Small</option>
                    <option value="uk-shadows-md">Medium</option>
                    <option value="uk-shadows-lg">Large</option>
                  </optgroup>
                  <optgroup label="Mode">
                    <option value="light">Light</option>
                    <option value="dark">Dark</option>
                  </optgroup>
                </select>
              </uk-theme-switcher>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <h2 class="uk-h3">Links</h2>
        <ul class="uk-list uk-list-hyphen mt-4">
          <li>
            <a
              class="uk-link"
              href="https://next.franken-ui.dev"
              target="_blank"
            >
              https://next.franken-ui.dev
            </a>
          </li>
          <li>
            <a
              class="uk-link"
              href="https://bsky.app/profile/sveltecult.bsky.social"
              target="_blank"
            >
              https://bsky.app/profile/sveltecult.bsky.social
            </a>
          </li>
          <li>
            <a
              class="uk-link"
              href="https://github.com/sveltecult"
              target="_blank"
            >
              https://github.com/sveltecult
            </a>
          </li>
          <li>
            <a
              class="uk-link"
              href="https://github.com/franken-ui"
              target="_blank"
            >
              https://github.com/franken-ui
            </a>
          </li>
          <li>
            <a class="uk-link" href="https://x.com/sveltecult" target="_blank">
              https://x.com/sveltecult
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- END -->
  </body>
</html>
